{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}
 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/Atacora.jpg'%}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Atacora</h1>
                <p class="text-justify">Le département de l’Atacora est situé au
                    nord-ouest du Bénin. Il est limité au Nord par
                    le Burkina-Faso et le département de
                    l’Alibori, à l'Ouest par le Togo, à l’Est par le
                    département du Borgou et celui de l’Alibori,
                    et au Sud par le département de la Donga.
                    Avec une superficie totale de 20 499 km2,
                    l’Atacora est le troisième département par
                    son étendue, après l’Alibori (26 242 km2) et
                    le Borgou (25 856 km2). Il est subdivisé en
                    neuf (9) communes avec Natitingou comme
                    Chef-lieu, ces autres communes sont Kérou,
                    Kouandé, Péhunco, Cobly, Boukombé,
                    Matéri, Toucountouna, et Tanguiéta. Ces
                    communes sont subdivisées en 47
                    arrondissements et 384 villages et quartiers
                    de ville.
                    Les ethnies couramment rencontrées sont :
                    les Gua ou Otamari et apparentés, les Bariba
                    et apparentés; les Peulh. Du point de vue de
                    la pratique religieuse, l’islam vient en tête
                    suivi du catholicisme et autres religions
                    traditionnelles.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Communes de Atacora</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="boukoumbe"> 
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Boukoumbé.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Boukoumbé</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="cobly">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Cobly.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Cobly</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="kerou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Kandi.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Kérou</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="kouande">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Kouandé.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Kouandé</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="materi">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Matéri.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Matéri</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="natitingou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Natitingou.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Natitingou</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="pehunco">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Pehunco.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Péhunco</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="tanguieta">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Tanguieta.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Tanguieta</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="toucountouna">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Toucountouna.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Toucountouna</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}