{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/banté.jpg'%}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Collines</h1>
                <p class="text-justify">Les Collines sont
                    un département du centre du Bénin,
                    limitrophe
                    des
                    départements
                    du Plateau, du Borgou, du Zou et
                    de la Donga.
                    Sa population est de 716 558
                    habitants (2013), sa densité 51
                    hab./km2, sa superficie 1 393 100
                    ha
                    soit
                    13 93151 km2.
                    Le
                    département
                    est
                    peuplé
                    principalement d’Idaasha, Isha,
                    Nagots, Yorubas, Shabè, Mahi,
                    et Peuls. Les communes du
                    département des Collines Les
                    collines sont composées de 6
                    (six) communes :Bantè, Dassa-
                    Zoumè (la préfecture), Glazoué,
                    Ouèssè, Savalou et Savè.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Communes de Collines</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="bante"> 
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/banté.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Banté</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="dassa">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Dassa.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Dassa</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="glazoue">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/glazoué.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Glazoué</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="ouesse">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/ouèssé.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Ouèssé</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="savalou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/savalou.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Savalou</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="save">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/save.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Savè</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
 {% endblock %}