{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/couffo.jpg'%}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Coffou</h1>
                <p class="text-justify">Situé au sud-ouest de la République
                    du Bénin, le département du Couffo
                    couvre une superficie de 2 404 km²
                    et regroupe les six communes
                    d’Aplahoué, de Djakotomey, de
                    Dogbo de Klouékanmè, de Lalo, et de
                    Toviklin, qui totalisent 367 villages. Il
                    est limité dans sa partie Sud par le
                    département du Mono, au Nord par
                    celui du Zou, à l’Est par le
                    département de l’Atlantique et à
                    l’Ouest par la République Togolaise.
                    Le climat est de type soudano
                    guinéen à deux saisons pluvieuses et
                    à deux saisons sèches. La hauteur
                    annuelle de pluie varie entre 800
                    mm et 1200 mm. L’humidité relative est considérable et peut atteindre
                    85%. Le nombre de jours de pluies
                    tourne autour de 100 jours par an et
                    la période de croissance végétative
                    varie entre 210 jours et 240 jours.
                    On y distingue trois zones agro-
                    écologiques, à savoir :
                    la savane (5è zone agro-écologique)
                    à Aplahoué, surtout dans sa partie
                    Nord ; les terres de barre (6è zone
                    agro-écologique) à Klouékanmè,
                    Djakotomey, Dogbo et Toviklin ;
                    la dépression des Tchi, (7è zone
                    agro-écologique) à Lalo.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Communes de Coffou</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="aplahoue"> 
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Aplahoué.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Aplahoué </h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="djakotomey">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Djakotomey.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Djakotomey</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="dogbo">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Dogbo.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Dogbo</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="lola">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Lalo.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Lalo</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="toviklin">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Toviklin.jpeg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Toviklin</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="klouekanme">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Klouékanmè.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Klouékanmè</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
 {% endblock %}