{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/mono.jpg'%}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Mono</h1>
                <p class="text-justify">Le Mono est un département du Sud-
                    Ouest du Bénin voisin du Togo.Il est limité
                    au Nord-Est par le département du Zou,
                    au Sud par une façade maritime de
                    quarante kilomètres (40 km) environ sur
                    l’Océan Atlantique; A l’Est par la
                    succession de plans d’eau formée par la
                    vallée du fleuve Couffo, le lac Ahémé et la
                    rivière Toho qui en constituent la frontière
                    avec le département de l’Atlantique, à
                    l’Ouest par le Togo avec 90 km de
                    frontière naturelle formée par une partie
                    du fleuve Mono. Il a une population de
                    495 307 habitants (2013), une densité de
                    309 hab.
                    /km²,
                    160 500 ha soit
                    1 605 km².Les habitants du Mono sont
                    principalement des Aja, Fon, Xwla, Mina,
                    Sahouè, Kotafon ou Ayizo. Depuis 2013, le
                    département du Mono compte 400
                    villages et quartiers de ville. Les communes du Mono Athiémé, Bopa,
                    Comè, Grand-Popo, Houéyogbé et
                    Lokossa (la préfecture) sont les six (6)
                    communes du Mono.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Communes de Mono</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="athieme"> 
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Athiémé.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Athiémé</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="bopa">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Bopa.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Bopa</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="kerou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/comè.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Comè</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="grand_popo">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Grand-Popo.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Grand-Popo</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="houeyogbe">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Houéyogbé.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Houéyogbé</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="lokossa">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Lokossa.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune  de Lokossa</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
 {% endblock %}