{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/ouémé.jpg'%}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Ouémé</h1>
                <p class="text-justify">La Préfecture est une structure
                    intermédiaire entre l'Etat et les
                    collectivités territoriales. L’histoire
                    de celle de Porto-Novo remonte à la
                    période coloniale ou le décret
                    266/PCM/MI du 15 décembre 1959 a
                    créé cinq (05) régions placées sous
                    l'autorité des représentants du
                    gouvernement appelés « délégués
                    régionaux ». Lesdites régions étaient
                    désignées : le Sud-Est, le Sud-Ouest, le Centre, le Nord-Est et le Nord-
                    Ouest.
                    A
                    l'avènement
                    des
                    indépendances,
                    toutes
                    les
                    subdivisions desdites régions ont été
                    érigées en cercles. De ce fait, les
                    commandants des cercles devinrent
                    les sous-préfets. Les régions ont reçu
                    par le même décret la dénomination
                    de « département » tandis que les
                    délégués régionaux ont pris le nom
                    de « préfet ».</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Communes de Ouémé</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="adjarra"> 
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Adjarra.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Adjarra</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="adjohoun">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Adjohoun.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Adjohoun</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="aguegues">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Aguégués.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Aguégués</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="misserete">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Akpro-Missérété.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune d'Akpro-Missérété</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="avrankou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Avrankou.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune d'Avrankou</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="bonou">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Bonou.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Bonou</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-content py-5">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="dangbo">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Dangbo.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Dangbo</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="porto">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/porto.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Porto-novo</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a href="seme">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div class="owl-carousel-item">
                                            <div style="height: 246px;"> <img class="img-fluid" src="{% static 'immobilier/assete/img/departement/Podji.jpg'%}" style="width: 500px; height: 200px;"></div>
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            <h5 class="mb-5 text-center">La Commune de Sèmè-Kpodji</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}