{% extends 'edition/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mb-1">
    <img class="img-fluid" src="{% static 'immobilier/assete/img/evenement.jpeg'%}" style="height: 500px; width: 100%;" alt="">
</div>

<!-- Evenement Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="{{ evenements.images.url }}" alt="">
            </div>
            <div class="col-lg-7">
                <h1 class="mb-4">{{ evenements.titre }}</h1>
                <h6 class="">{{evenement.evenement.evenement}}</h6>
                <p>{{ evenements.date_evenement.date }}</p>
                {% comment %} <p>{{ evenements.description|safe }}</p> {% endcomment %}
                <!-- Ajouter ici d'autres informations si nécessaire -->
            </div>
        </div>
    </div>
</div>
<!-- Evenement End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
    <!-- Mettre ici le code de la section "Contact" -->
</div>
<!-- Contact End -->

{% endblock %}
