{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/Abomey.jpg'%}" style="width: 400px; height: 500px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Abomey</h1>
                <p class="text-justify">Abomey est une commune du sud de la République du Bénin, située à 145 km de Cotonou,
                    dans le département du Zou. Elle est constituée de 07 arrondissements à savoir Zounzonmè,
                    Detohou, Agbokpa, Sèhoun, Dj gbé, Hounli, Vidolé. Abomey, aujourd’hui est une cité chargée
                    de plus de trois siècles d’histoire multidimensionnelle ; c’est la terre de l’illustre roi Béhanzin.
                    La ville regorge de reliques et de sites patrimoniaux conservés, et certains inscrits au
                    patrimoine mondial de l’Unesco. Plusieurs palais royaux, forêts sacrées, sépultures, objets
                    témoin de l’art et de l’artisanat d’alors peuvent tre vus. Abomey est aussi un pôle cosmopolite
                    de rythmes et de divinités du panthéon Vaudoun, et pour cause, de retour de guerre, les
                    Danxomènou ramenaient dans le royaume leurs captifs ainsi qu’une partie des divinités et des
                    pratiques rencontrées chez les peuples vassalisés. On y trouve entre autres des cultes provenant
                    du pays d’ yo comme Egoun (culte des revenants), Sakpata (dieu de la terre et de la variole),
                    d’autres provenant de l’ouest comme le Thron (Glo vodoun), Dan (dieu de la richesse). Lègba
                    (dieu de la virilité) et Gou (dieu du fer et de la route) sont les plus présents au sein de la
                    population. Mais il y a aussi Atchina, Hèviosso, Tohossou, Banglé, Atchigali, Kininsi etc…</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Immeubles et chambres disponibres dans la commune d'Abomey</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for abomeyImmeuble in abomeyImmeubles %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in abomeyImmeuble.imagesimmeuble_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{abomeyImmeuble.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{abomeyImmeuble.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{abomeyImmeuble.departement}}, {{abomeyImmeuble.commune}}, {{abomeyImmeuble.arrondissement}}, {{abomeyImmeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'liste_chambres_immeubles' abomeyImmeuble.id %}" class="text-white">Consulter</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5"> 
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for abomeyQuartier in abomeyQuartiers %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in alladaQuartier.images_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{alladaQuartier.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{alladaQuartier.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{alladaQuartier.immeuble.departement}}, {{alladaQuartier.immeuble.commune}}, {{alladaQuartier.immeuble.arrondissement}}, {{alladaQuartier.immeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'details_chambre' alladaQuartier.id %}" class="text-white">Voir Detail</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}