{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/calavi.jpg'%}" style="width: 400px; height: 500px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Abomey-Calavi</h1>
                <p class="text-justify">Abomey-Calavi est une commune du sud du Bénin. Elle est située à 18 kilomètres au Nord
                    de Cotonou, la capitale économique du Bénin. C’est la deuxième commune la plus peuplée du
                    Bénin, juste après Cotonou. La ville connait une forte croissante démographique en raison de
                    l'exode de cotonois qui y préfèrent sa tranquillité et de l'accès plus économique au foncier. La
                    commune d'Abomey-calavi dispose de neuf arrondissements:, Abomey-Calavi, Akassato,
                    Godomey, Golo-Djigbé, Hêvié, Kpanroun, Ouèdo, Togba, Zinvié. Les fon, les toffin, les aizo,
                    les Adja, les yorouba, les Nagot, goun y sont les plus nombreux et se répartissent entre plusieurs croyances religieuses parmi lesquelles la prédominance se retrouve du côté des
                    religions endogènes qui sont suivies du Catholicisme, Protestantisme de l'islam etc. Ils mènent
                    plusieurs activités dans différents secteurs tels que l'agriculture, l'élevage, la pêche, le
                    commerce, l'artisanat, le transport, l'exploitation de bois de feu, la transformation de produits.
                    La commune abrite la plus grande université du pays qui porte d’ailleurs son nom : Université
                    d’Abomey-Calavi. Entre autres attraits touristiques, l'on peut citer l'embarcadère de Ganvié ou
                    le palais de sa majesté Gbesso Adjiwatonou Alodji II, roi d'Abomey Calavi et le parc Agoua
                    Land.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Immeubles et chambres disponibres dans la commune d'Abomey-Calavi</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for calaviImmeuble in calaviImmeubles %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in calaviImmeuble.imagesimmeuble_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{calaviImmeuble.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{calaviImmeuble.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{calaviImmeuble.departement}}, {{calaviImmeuble.commune}}, {{calaviImmeuble.arrondissement}}, {{calaviImmeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'liste_chambres_immeubles' calaviImmeuble.id %}" class="text-white">Consulter</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5"> 
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for calaviQuartier in calaviQuartiers %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in calaviQuartier.images_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{calaviQuartier.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{calaviQuartier.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{calaviQuartier.immeuble.departement}}, {{calaviQuartier.immeuble.commune}}, {{calaviQuartier.immeuble.arrondissement}}, {{calaviQuartier.immeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'details_chambre' calaviQuartier.id %}" class="text-white">Voir Detail</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}