{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/Comè.jpg'%}" style="width: 400px; height: 500px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Comè</h1>
                <p class="text-justify">Comè est une commune du sud-ouest du Bénin, située à 60 km de Cotonou, et composée des
                    arrondissements de Comè, Akodeha, Agatogbo, Oumako et Ouedemè Pedah. La commune
                    s'appelait originellement Hontou, forêt refuge, nom qui lui a été donné par les "Xwéla" qui sont
                    la première communauté qui s'y est installée. L'économie de la ville de Comè est axée sur la
                    pêche, l'agriculture et le commerce.
                    La pratique des religions endogènes est enracinée dans la commune de Comè avec des divinités
                    comme «Hêviosso», «Zangbéto», «Kocou», «Azon-kpanankan-akpla», «Thron», «Sakpata»,
                    «Dan» même si le catholicisme en particulier y a connu et y connaît de beaux jours. Bien
                    évidemment l'Islam et de nombreux autres courants religieux y sont présents compte tenu de la
                    grande diversité des communautés qui y vivent.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Immeubles et chambres disponibres dans la commune de Comè</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for comeImmeuble in comeImmeubles %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in comeImmeuble.imagesimmeuble_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{comeImmeuble.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{comeImmeuble.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{comeImmeuble.departement}}, {{comeImmeuble.commune}}, {{comeImmeuble.arrondissement}}, {{comeImmeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'liste_chambres_immeubles' comeImmeuble.id %}" class="text-white">Consulter</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5"> 
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for comeQuartier in comeQuartiers %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in comeQuartier.images_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{comeQuartier.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{comeQuartier.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{comeQuartier.immeuble.departement}}, {{comeQuartier.immeuble.commune}}, {{comeQuartier.immeuble.arrondissement}}, {{comeQuartier.immeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'details_chambre' comeQuartier.id %}" class="text-white">Voir Detail</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}