{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container ">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'immobilier/assete/img/departement/Ouidah.jpg'%}" style="width: 400px; height: 500px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn " data-wow-delay="0.5s">
                <h1 class="mb-4">Ouidah</h1>
                <p class="text-justify">Ouidah est une commune côtière du Bénin, située à 42 kilomètres à l'ouest de Cotonou. Le nom
                    de Ouidah est la variante de Huéda, qui était le nom du royaume auquel cette ville appartenait à
                    l'origine, mais qui fut également appliqué par les Européens à la ville côtière. Ouidah a été
                    au xviiie siècle l'un des principaux centres de vente et d'embarquement d'esclaves dans le cadre
                    de la traite occidentale. uidah était une grande terre d’accueil pour les populations Hxuéda,
                    premiers habitants de la région qui sont originellement des adjas installés sur les rives du lac
                    Ahémé. Ils avaient pour principale activité, la pêche. Les Fon en provenance d’Allada y
                    trouvant de grandes surfaces cultivables s’y installèrent aussi pour leurs travaux champ tres,
                    d'où le deuxième nom de cette ville : Gléxwé. Ensuite, il y a eu la migration des commerçants
                    nago et haoussa du Nigeria.
                    Les acticités économiques principales de Ouidah sont l’agriculture, la p che et l’artisanat.
                    Au plan spirituel, les habitants de Ouidah vénèrent le Dangbé(Python), les Atin min Vodoun ou
                    Hounvè (vodoun Loko, Gou, H biosso), Sakpata et Dan (venus d’abomey) Mami wata et Thron
                    (venus du Ghana via le Togo) ; Egungun, ro, Shango venus de l’Est ( yo).Ouidah possède un
                    patrimoine culturel et historique assez riche. "La Route de l'Esclave", la Place aux Enchères, la
                    Porte du Non-Retour, l arbre de l’oubli, la Case Zoma , le mémorial de Zoungbodji ; La Case
                    de Zomachi par opposition à Zomayi (chambre noire dans laquelle on maintenait les esclaves
                    des jours durant afin qu’ils oublient leur vie passée) et le Mémorial du Répentir : Lumière
                    éternelle, symbole du retour et de réconciliation de la Société Civile béninoise avec les peuples
                    de la Diaspora, lebeau paysage lagunaire fait des mangroves ; des îles de Djondji et Djègbadji,
                    des plages avec les cocotiers, de la façade maritime et de la pureté de la nature, le Musée
                    d'histoire de Ouidah, le musée de la famille de Souza, le Musée de la Porte du Retour, les
                    anciennes maisons à architecture brésilienne, les places des anciens forts (Fort portugais actuel
                    musée d'histoire de Ouidah, Fort français, Fort anglais, Fort hollandais, Fort danois et les sites
                    sacrés comme les forêts sacrées de Savi, Kpassè, Avélékété, Houakpè-Daho ; le Temple des Pythons; la Basilique et le Séminaire Saint Gall, Houhoué (maison Daagbo Hounnon), la place
                    Ahizounmè (marché du Roi Houffon), le Zolokotin, Agadja Lègba, Guézo Lègba sont aussi à
                    visiter, le lac Toho de Tchiakpêcodji à Ahozon, la lagune côtière de Pahou à Agbanzin-Kpota,
                    Azizakouê, Djègbadji plage Djègbadji pont, Djègbadji hameau, Djondji, Aïdo, Mêko et
                    Dégouè.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-0 gx-5 align-items-end">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end text-center d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class=" wow slideInLeft " data-wow-delay="0.1s">
                            <div class="">
                                <h1 class="mb-5 text-center">Les Immeubles et chambres disponibres dans la commune de Ouidah</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for ouidahImmeuble in ouidahImmeubles %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in ouidahImmeuble.imagesimmeuble_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ouidahImmeuble.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{ouidahImmeuble.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ouidahImmeuble.departement}}, {{ouidahImmeuble.commune}}, {{ouidahImmeuble.arrondissement}}, {{ouidahImmeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'liste_chambres_immeubles' ouidahImmeuble.id %}" class="text-white">Consulter</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5"> 
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for ouidahQuartier in ouidahQuartiers %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <div class="col-md-12 animated fadeIn">
                                        <div class="owl-carousel header-carousel">
                                            {% for image in ouidahQuartier.images_set.all %}
                                            <div class="owl-carousel-item">
                                                <div style="height: 246px;"> <img class="img-fluid"  src="{{ image.images.url }}"   style="width: 500px; height: 200px;" ></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ouidahQuartier.type}} </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{ouidahQuartier.prix}} CFA</h5>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ouidahQuartier.immeuble.departement}}, {{ouidahQuartier.immeuble.commune}}, {{ouidahQuartier.immeuble.arrondissement}}, {{ouidahQuartier.immeuble.quartier}}</p>
                            </div>
                            <div class="text-center p-4 pb-0"> <!-- Utilisez la classe "text-center" pour centrer le contenu -->
                                <button class="btn btn-primary m-2"> <!-- Utilisez la classe "m-2" pour ajouter une marge -->
                                    <a href="{% url 'details_chambre' ouidahQuartier.id %}" class="text-white">Voir Detail</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                     {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>   {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}