{% extends 'edition/base.html' %}
{% load static %}
{% block content%}

<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">Editer</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Accueil</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Editions</p>
        </div>
    </div>
</div>

  
  <div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    
                    <a href="{% url 'listes_auteurs' %}">
                        <div class="pl-4 mx-auto text-center">
                            <h4>Editer</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    
                    <a href="{% url 'listes_auteurs' %}">
                        <div class="pl-4">
                            <h4>Nos Auteurs</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    
                    <a href="{% url 'librairie' %}">
                        <div class="pl-4">
                            <h4>Notre Librairie</h4>
                        </div>
                    </a>
                </div>
            </div>
         
            
        </div>
    </div>
</div>
<div class="row pb-3">
    {% for accueil  in accueils %}
    <div class="col-lg-4 mb-4" >
        <div class="card border-0 shadow-sm mb-2" style="overflow: hidden;">
            <div style="height: 246px;"> <img class="card-img-top mb-2 " src="{{accueil.images.url}}" alt=""></div>
                <div class="card-body bg-light text-center p-4" style="height:250px;">
                    <h4 > {{accueil.titre}} </h4>
                    <h5 class="text-decoration-underline ">{{accueil.categorie}} </h5>
                     <h5 class="text-decoration-underline ">{{accueil.prix}} FCFA</h5>
                  
                    <div class="d-flex justify-content-center mb-1">
                       <h4><small class="mr-3 text-dark"><i class="fa fa-user text-primary"></i> {{accueil.auteur.first_name}} {{accueil.auteur.last_name}}</small></h4>
                       
                    </div>
                                           
                    
                    <a  href="{% url 'detail_actualite' accueil.id %}" class="btn btn-primary px-4 mx-auto my-2">Plus De eatail</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    


{% endblock%}