{% extends 'interface/beninland.html' %}
{% load static %}
{% block content %}

 <!-- About Start -->
 {% comment %} <div class="container-xxl py-5">
    <div class="container">  
        <div class="row g-5 align-items-center ">
        </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden">
                    <div class="owl-carousel header-carousel">
                        {% for image in detailterrain.images_set.all %}
                        <div class="owl-carousel-item">
                            <div style="height: 446px;"> <img class="img-fluid"  src="{{ image.images.url }}"  style="width: 500px; height: 800px;" ></div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{chambre.immeuble.type}} </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">BeninLand</h1>
                <p class="mb-4">{{detailterrain.description}} </p>
                <h4 class="text-danger"><i class="fa  text-primary me-3"></i> {{detailterrain.prix}} CFA</h4>
                 <a class="btn btn-primary py-2 px-3 mt-1" href="{% url 'contact' %}">Commander</a>  
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- About End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{{detailterrain.images.url}} ">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">BeninLand</h1>
                <p class="mb-4">{{detailterrain.description}} </p>
                <p> Adresse :<i class="fa fa-map-marker-alt text-primary me-2"></i>{{detailterrain.departement}}, {{detailterrain.commune}}, {{detailterrain.arrondissement}}, {{detailterrain.quartier}}</p>
                <h4 class="text-danger"> <i class="fa  text-primary me-3"></i>  {{detailterrain.prix}} CFA</h4>
                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                 <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'contact_immobilier' %}">Commander</a>  
            </div>
        </div>
    </div>
</div>
 {% endblock %}