<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Test envoi de email par Mechad </h3>
    <strong>{{ date}} </strong>
     <strong> Votre email {{email}} </strong>
    <p style="color: red;">  Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet  </p>
    <em>Mechad </em>
</body>
</html>