{% extends 'ciagroup/cia.html' %}
{% load static %}
{% block content%}
    <!-- About Start -->
    <div class="container-fluid py-5 my-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                    <div class="h-100 position-relative">
                        <img src="{% static 'dashboard/asset/img/cia/cia1.png'%}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                        <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                            <img src="{% static 'dashboard/asset/img/cia/cia3.png'%}" class="img-fluid w-100 rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                    
                    <h1 class="mb-4">A Propos</h1>
                    <p>La Société de Coopération pour l’Investissement en Afrique (CIA Consulting Group) est une entreprise basée au Bénin, et qui se dote d’une vision forte de développement de l’Afrique. Cette vision se caractérise par la Coopération et l’Investissement en Afrique. CIA Consulting Group opère dans les secteurs importants de développement avec les jeunes de toute l’Afrique. Pour réaliser sa vision, CIA Consulting Group travaille en permanence dans trois secteurs : </p>
                    <p><strong>Agriculture</strong>: L’un des secteurs les plus prometteurs du développement de l’Afrique, c’est l’Agriculture. Et pourtant, dans plusieurs pays d’Afrique, ce secteur est négligé par les jeunes (surtout) au profit de professions bureaucrates. CIA Consulting Group s’investit dans la production, la transformation et la commercialisation de produits agropastoraux. </p>
                    <p><strong>Edition de livre</strong>  : Dénommée Racines d’Afrique, ce département de CIA Consulting Group permet de réécrire l’Histoire authentique de chacun des peuples de l’Afrique. Plusieurs livres sont édités et participent ainsi à la reconstruction de l’Afrique.</p>
                    <p><strong>Immobilier </strong>: C’est un secteur d’activité permanent de la CIA Consulting Group. Il se démarque par sa dénomination BeninLand, une plateforme immobilière qui permet à tout le monde d’accéder aux services immobiliers de partout au Bénin. </p>
                    <p><strong>Coopération</strong>: Ce secteur permet à CIA Consulting Group de travailler avec d’autres entreprises, les ONG, les bailleurs internationaux, les gouvernants et toutes les personnes désireuses de participer à la construction d’une Afrique future Responsable, Autonome et Prospère. A ce niveau, la CIA Consulting Group mise aussi sur la diaspora africaine pour atteindre les objectifs de construction de l’Afrique.</p>
                    <p><strong>Investissement</strong>  : L’investissement est le résultat de la Coopération fructueuse. en effet, avec CIA Consulting Group, l’Investissement passe par la mise en œuvre du Programme d’Investissement en Afrique. Ce Programme vise à créer chaque année deux (02) grandes nouvelles entreprises en Afrique au profit de jeunes Africains.</p>
                    <p>Enfin, CIA Consulting Group s’allie aux Nouvelles Technologies de l’Information afin de digitaliser ses services et produits, et d’étendre son champ d’actions partout en Afrique et dans le monde. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
       <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Contactez-nous</h1>
                <p class="text-justify">Contactez-nous pour toute question, demande d'information ou assistance. Notre équipe dévouée est à votre disposition pour vous fournir des réponses rapides et un soutien exceptionnel. Nous sommes là pour vous aider à chaque étape de votre parcours.</p>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-map-marker-alt text-primary"></i>
                                    </div>
                                    <span>Porto-Novo, BENIN</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-envelope-open text-primary"></i>
                                    </div>
                                    <span>beninlan@ciagroup.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fab fa-whatsapp text-primary"></i>
                                    </div>
                                    <span>+229 40470007</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7928.807790659692!2d2.614461!3d6.4704132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b57a114bc797b%3A0x71ce14c8e04d4b9a!2sAdjinan%20Sud!5e0!3m2!1sfr!2sbj!4v1698511800112!5m2!1sfr!2sbj"
                        width="100%"
                        height="400" 
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"> 
                    </iframe>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <form action="{% url 'propos_agenda' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                               
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                
                                {{ form.message }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
